﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Desole.aspx.cs" Inherits="desole" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>
        EdPerm : Erreur
    </title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <p>
        Votre requête vient de générer un erreur !<br />
        L'erreur sera notifié à l'administrateur !!!
    </p>
    </div>
    </form>
</body>
</html>
