/* styling of the different ajax loaded contents */
/* the icons on the website are the result of the generousity of falticon.com
   downloaded in August 2015.
   Licence: CC BY 3.0
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ styling of the students forms ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#wrapper .main .studentBooking { /*this rule has updates in the media queries */
           position:relative;
           height: 425px;
           margin-top:35px;
           margin-left: 8.5%/*-63px*/;
           overflow-y:scroll;
           overflow-x:hidden;
           border: ;
 }

/* Adjusting the settings for the links and input appearances */

#wrapper .main div.studentBooking a {
           text-decoration: none;
           outline: 0;
}

#wrapper .main div.studentBooking .inputHolder { /*this div contains an input and a span*/
          margin-bottom: 15px;
          border-bottom: 1px solid #7aa3c7;
}

/* form validation formatting */
 #wrapper .main .studentBooking .tip {
     position: relative;
     display: none;
     width:;
     height: 28px;
     color: #fff;
     font-family: 'fira_sanshair';
     text-align: center;
     font-size:12px;
     background-color:#628b7f;
     border:;
    -webkit-transition: ease-out 0.1s; /* Safari */
    -moz-transition: ease-out 0.1s; /* Firefox */
    -o-transition: ease-out 0.1s; /* Opera */
    transition: ease-out 0.1s; /* IE */
 }
 #wrapper .main .studentBooking .error {
     position: relative;
     display: none;
     width:;
     height: 28px;
     color: #fff;
     font-family: 'fira_sanshair';
     text-align: center;
     font-size:12px;
     background-color:#da9e3c;
    -webkit-transition: ease-out 0.1s; /* Safari */
    -moz-transition: ease-out 0.1s; /* Firefox */
    -o-transition: ease-out 0.1s; /* Opera */
    transition: ease-out 0.1s; /* IE */
 }

#wrapper .main div.studentBooking input[type="text"],
                    input[type="email"],
                    input[type="tel"],
                    select{
    position: relative;
    display: block;
    border:none;
    margin-bottom:0;
    background:;
    top: -1px;
    left: 0px;
}

/* end of links and input appearances*/

/* coding the next and prev buttons for the form */

#wrapper .main .studentBooking div a.next {
           position:relative;
           display: block;
           text-decoration: none;
           color: #000;
           outline: 0;
           float: left;
           border:;
 }

#wrapper .main .studentBooking div a.next:hover span {
           color: #f7b325;
           -webkit-transition: ease-out 0.1s; /* Safari */
           -moz-transition: ease-out 0.1s; /* Firefox */
           -o-transition: ease-out 0.1s; /* Opera */
           transition: ease-out 0.1s; /* IE */
}

#wrapper .main .studentBooking a.prev {
           position:relative;
           display: block;
           margin-top: 7px;
           text-decoration: none;
           color: #000;
           outline: 0;
           float: left;
           border:;
 }

 #wrapper .main .second_panel a.prev span:nth-child(1) { /*rule has update in media query*/
          display: block;
          margin-left: -19px;
 }

 #wrapper .main .second_panel a.prev span:nth-child(2) {
           margin-top: -3.5px;
           margin-left:;
}

#wrapper .main .studentBooking a.prev:hover span {
           color: #f7b325;
           -webkit-transition: ease-out 0.1s; /* Safari */
           -moz-transition: ease-out 0.1s; /* Firefox */
           -o-transition: ease-out 0.1s; /* Opera */
           transition: ease-out 0.1s; /* IE */
}

#wrapper .main .studentBooking .next-icon,
                               .prev-icon{
           position:relative;
           display: inline-block;
           margin-top:-7px;
           border:;
}

 /* end of button(previous and next) styling */

/* ^^^^ Styling the listBox(selectBox) ^^^^  */
 #wrapper .main .studentBooking select {  /*this rule has updates in the media queries */
  position: relative;
  font-family:'fira_sansbook', sans-serif ;
  font-size: 12px;
  color: #022958;
  background: url(../../images/down.png) 98% no-repeat #fff;
  background-size: 7%; /*this rule has updates in the media queries*/
   border-bottom: 1px solid #022958; 
  -webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
  }

/* ^^^^ end of listBox(selectBox styles) ^^^^ */

/* %%% coding the choose_course div %%% */
    #wrapper .main .studentBooking .choose_course {
        position: relative;
        height: 70px;
    }

    #wrapper .main .studentBooking .choose_course p {
        position:relative;
        font-size: 1.0em;
        margin-top: 17.5px;
        padding: 0px 0px 0px 7px;
        border:;
    }

   #wrapper .main .studentBooking .choose_course select {
       margin-top: 14px;
       margin-left: 66.5px;
       background-size: 7%;
   }

/* %%% end of the choose_course div coding %%% */

/* $$$$ coding the div with the class yesNoSame place $$$$ */

      #wrapper .main .studentBooking .yesNoSamePlace { /*this div has media query updates*/
          position: relative;
          height: 70px;
          border-top:1px solid #7aa3c7;
          border-bottom:1px solid #7aa3c7;
          margin-bottom:0px;
      }

      #wrapper .main .studentBooking .yesNoSamePlace p {
          position: relative;
          display: block;
          height: 70px;
      }
      #wrapper .main .studentBooking .yesNoSamePlace span {
          display: block;
          position: relative;
          font-size: 1.0em;
          padding: 0px 0px 0px 7px;
          margin-top: 10.5px;
      }
      #wrapper .studentBooking .yesNoSamePlace .yesBoth,
                                               .noBoth {
                                         position:relative;
                                         display: block;
                                         height: 69px; border:;
      }

      #wrapper .studentBooking .yesNoSamePlace .yesBoth:hover {background-color: #f7b325;}
    #wrapper .studentBooking .yesNoSamePlace .noBoth:hover {background-color: #f7b325;}

     #wrapper .studentBooking .yesNoSamePlace .yesBoth {
                                         left: 22px;
                                         background-color:#7aa3c7;
                                         border:none;
     }
     #wrapper .studentBooking .yesNoSamePlace .noBoth {
                                         left:0%; /*no need to set it here*/
                                         background-color:#7aa3c7 ;
                                         border:none;
     }
/* $$$$ end of coding of the yesNoSamePlace div $$$$ */

/* @@@@ Coding the div with the class is_in_nb and is_out_of_nb @@@@ */
     #wrapperpp .main .studentBooking #is_in_nb,
                                      #is_out_of_nb {
                                          width: 100%; margin-left: 0;
    }
     #wrapper .main .studentBooking #is_in_nb {
        position: relative;
        height: 70px;
        margin-top:70px;
    }

    #wrapper .main .studentBooking #is_in_nb p {
        position:relative;
        margin-top:17.5px;
        margin-left:0px;
        padding: 0px 0px 0px 7px;
        border:;
    }

        #wrapper .main .studentBooking #is_in_nb
        .geo_in_check,
        .geo_out_check { 
        visibility:hidden;
        display:inline-block;        
        width:25px;
        height:25px;
        background: #7aa3c7;
        margin:17.5px 0px 0px 0px;
        padding: 1.2px 0px 0px 1.5px;
        position: relative;
        border:;
}

        }

   #wrapper .main .studentBooking #is_in_nb select {
       position: relative;
       margin-top: 14px;
       margin-left: 66.5px;
       background-size: 7%;
       border:;
   }


  #wrapper .main .studentBooking #is_out_of_nb {height: 150px;}
  #wrapper .main .studentBooking #is_out_of_nb p {
        position:relative;
        margin-left: 0 /* 17.5px */;
    }
  #wrapper .main .studentBooking #is_out_of_nb p.finalCityP {
        position:absolute;
        left:0px;
        top: 180px;
        float:;
        border:;
}
  #wrapper .main .studentBooking #is_out_of_nb .intra_diff_places,
    .final_diff_places {
        position:relative;
        height:35px;
        border:;
    }

    #wrapper .main .studentBooking #is_out_of_nb .intra_diff_places .intraVille,
    .finalVille {
        border-top:2px solid #022958;
        visibility:visible;
    }

    /* @@@@ Sepecial coding for the inputs of the suggested cities by student @@@*/
#wrapper #suggest_intra_city {
    position:relative;
    height:auto;
    border:;
}
#wrapper #suggest_intra_city input {
    margin-left:0px;
    border:1px solid #D1D1D1;
}

#wrapper #suggest_final_city {
    position:relative;
    height:auto;
    border:;
}
#wrapper #suggest_final_city input {
    margin-left:0px;
    border:1px solid #D1D1D1;
}
       /* @@@@ End of coding for suggested cities @@@*/
    #wrapper .main .studentBooking #is_out_of_nb .radio_final_yes,
    .radio_final_no,
    .radio_intra_yes,
    .radio_intra_no {
        visibility:hidden;
        position:relative;
        width:14px;
        float:left;
        margin-right:0px;
        margin-left:49px;
        display:block;
        background:transparent;
    }
    #wrapper .main .studentBooking #is_out_of_nb .radio_final_no,
    .radio_intra_no {
        margin-left:0;
    }

    #wrapper .main .studentBooking #is_out_of_nb a.intra_yes,
    a.intra_no,
    a.final_yes,
    a.final_no {
        display:;
        margin-left:0px;
        position:relative;
        top:3.5px;
        text-decoration:none;
        text-align:center;
        font-family:'fira_sanshair', sans-serif;
        font-size: 10px;
        outline:none;
        display:block;
        height:21px;
        color:white;
        background-color:#7aa3c7;
        -webkit-border-radius:21px;
        -moz-border-radius:21px;
        -o-border-radius:21px;
        border-radius:21px;

    }
        #wrapper .main .studentBooking #is_out_of_nb a.intra_yes:hover,
        a.intra_no:hover,
        a.final_yes:hover,
        a.final_no:hover {
        background-color:#f7b325;
        }

  #wrapper .main .studentBooking #is_out_of_nb select {
       position: relative;
       margin-top: /* 14px */;
       margin-left: 0;
       margin-bottom: 0;
       background-size: 7%;
   }




 /* @@@@ end of coding the div with the class is_in_nb and is_out_of_nb @@@@ */

/* ~ ~ ~ ~  Coding the div with the class chooseOption_Sup ~ ~ ~ ~ */
   #wrapper .main .studentBooking .chooseOption_Sup {
      position: relative;
      height: 70px;
      border-bottom:1px solid #7aa3c7;
      margin-top:0;
      background:;
   }

    #wrapper .main .studentBooking .chooseOption_Sup .checkboxTxt {
        display:block;
        color:#fff;
        padding-left:7px;
        border:;
    }

    #wrapper .main .studentBooking .chooseOption_Sup .checkSameSup {
        margin-left:0;
    }

  #wrapper .main .studentBooking .chooseOption_Sup a {
      position: relative;
      width: 30%;
      float: left;
      display: block;
      height: inherit;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #000;
      cursor: pointer;
      border:;
   }

#wrapper .main .studentBooking .chooseOption_Sup a.supActive {
  text-decoration:underline;
}

  #wrapper .main .studentBooking .chooseOption_Sup a span {
      position: relative;
      top: 14px;
  }
/* ~ ~ ~ ~  End of the coding of the div  ~ ~ ~ ~ */

/* æ æ æ æ Coding the getExistingSup and the suggestNewSup divs here æ æ æ æ */
  #wrapper .main .studentBooking #suggestNewSup {
     position: relative;
     width: 100%;
     margin-left: 0;
     margin-top:70px;
     height: auto;
     border:;
  }

  #wrapper .main .studentBooking #suggestNewSup input:nth-child(5) {
    margin-left: 0;
  }

 #wrapper .main .studentBooking #suggestNewSup p span {
    display: block;
    position: relative;
    float: left;
 }

  #wrapper .main .studentBooking #suggestNewSup p select {
    top: -6px;
  }

  #wrapper .main .studentBooking #suggestNewSup p.langSup { /*has update in media queries*/
      position: relative;
      height: 35px;
      margin-bottom: 0;
      border-bottom: 1px solid #D1D1D1;
  }

  #wrapper .main .studentBooking .second_panel .bottomForm {
      position: relative;
      margin-left: 17%;
      background-color: #7aa3c7;
      border: 1px solid #b6cce0;
  }

#wrapper .main .yesNoSamePlace .yes_clicked {
    position:absolute;
    top:;
    left:7px;
    display:inline-block;
    visibility:hidden;
}

#wrapper .main .yesNoSamePlace .no_clicked {
    position:absolute;
    top:;
    left:4px;
    display:inline-block;
    visibility:hidden;
}

#wrapper .main .is_clicked {
    text-decoration:underline;
}


/* æ æ æ æ End of coding for the getExistingSup and the getNewSup æ æ æ æ */

/*-- styling the scrollbars --*/

.scroll-pane {
    width:2px;
    height:;
    color:red;
}

/* For jQuery effects */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~ end of styling for the exam centre forms ~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* MEDIA QUERIES */
@media (max-width: 399px){
    /* %%% coding the choose_course div %%% */
    #wrapper .main .studentBooking {margin-left:0;}
    #wrapper .main .studentBooking .choose_course {
       width:100%; margin:0;height: 105px:}
#wrapper .main .studentBooking .choose_course p
    {height: 35px;margin-top: 17.5px;margin-bottom:0;text-align: center;}
   #wrapper .main .studentBooking .choose_course select {
       margin-top:0;margin-left:0; padding: 0 0 0 20.85269655155978% /*70px/335.688*/;
       height:35px; background-size:7%; background-position:81.5%;} /* end of this media query for choose course div*/
          #wrapper .main .studentBooking .yesNoSamePlace {position: relative;height: 105px;}
         #wrapper .main .studentBooking #is_in_nb { text-align:center;
        position: relative;height:42px;margin-top:140px; }
    #wrapper .main .studentBooking #is_in_nb p {height: 21px;margin-bottom:0; margin-top:7px;}
     #wrapper .main .studentBooking #is_in_nb select.singleLocation{margin-left:0; height:35px;
        padding-left:23.83%;background-size:7%; background-position:81.5%;margin-top:0;}
         #wrapper .main .studentBooking #is_out_of_nb { text-align:center;
        position: relative;height:auto;margin-top:140px; }
          #wrapper .main .studentBooking #is_out_of_nb .intra_diff_places,
    .final_diff_places {position:relative;height:auto; }
      #wrapper .main .studentBooking #is_out_of_nb .intra_diff_places span { font-size:0.875em;}
    #wrapper .main .studentBooking #is_out_of_nb .intra_diff_places .intraVille,
    .finalVille {border-top:2px solid #022958;}
            #wrapper .main .studentBooking #is_out_of_nb a.intra_yes,
            a.intra_no,
            a.final_yes,
            a.final_no { top:0;
            }
           #wrapper .main .studentBooking .radio_final_no { margin-left:0px;}
            #wrapper .main .studentBooking .radio_final_yes { margin-left:0px;}
            #wrapper .main .studentBooking .radio_intra_no { margin-left:0px;}
            #wrapper .main .studentBooking .radio_intra_yes { margin-left:0px;}
    #wrapper .main .studentBooking #is_out_of_nb p {height: 35px;margin-bottom:0; margin-top:7px;}
     #wrapper .main .studentBooking #is_out_of_nb select{margin-left:0; height:35px;
        padding-left:23.83%;background-size:7%; background-position:81.5%;margin-top:0;}
        #wrapper .main .studentBooking .chooseOption_Sup {
            height:150px;
        }
      #wrapper .studentBooking .yesNoSamePlace .yesBoth,
        .noBoth {position:relative;display: block; width:50%;height: 42px;}
     #wrapper .studentBooking .yesNoSamePlace .yesBoth {left:0; }
     #wrapper .main .second_panel a.prev span:nth-child(1){width:9%;}
     #wrapper .main .second_panel a.prev span:nth-child(2){width:70%;margin-left:35px; text-align: center;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup {height: 63px;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup span.langSupFirstSpan {text-align: center;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup select {margin-left:0; height:35px;
        padding-left:23.83%;background-size:4%; background-position:61.5%;margin-top:0;}
    #wrapper .main .personal_infos a.next span:nth-child(1){width:70%;margin-left:35px; text-align: center;}
    #wrapper .main .personal_infos a.next span:nth-child(2){width:9%;}
      #wrapper .main .studentBooking .second_panel .bottomForm { margin:0;}
} /* Mobile size*/



/* Larger than mobile */
@media (min-width: 400px) and (max-width: 585px){
    /* %%% coding the choose_course div %%% */
    #wrapper .main .studentBooking {margin-left:0;}
    #wrapper .main .studentBooking .choose_course {
       width:100%; margin:0;height: 105px:}
#wrapper .main .studentBooking .choose_course p
    {height: 35px;margin-top: 17.5px;margin-bottom:0;text-align: center;}
   #wrapper .main .studentBooking .choose_course select {
       margin-top:0;margin-left:0; padding: 0 0 0 20.85269655155978% /*70px/335.688*/;
       height:35px; background-size:7%; background-position:81.5%;} /* end of this media query for choose course div*/
          #wrapper .main .studentBooking .yesNoSamePlace {position: relative;height: 105px;}
         #wrapper .main .studentBooking #is_in_nb { text-align:center;
        position: relative;height:42px;margin-top:140px; }
    #wrapper .main .studentBooking #is_in_nb p {height: 35px;margin-bottom:0; margin-top:7px;}
     #wrapper .main .studentBooking #is_in_nb select.singleLocation{margin-left:0; height:35px;
        padding-left:23.83%;background-size:7%; background-position:81.5%;margin-top:0;}
         #wrapper .main .studentBooking #is_out_of_nb { text-align:center;
        position: relative;height:auto;margin-top:140px; }
          #wrapper .main .studentBooking #is_out_of_nb .intra_diff_places,
    .final_diff_places {position:relative;height:auto; }
      #wrapper .main .studentBooking #is_out_of_nb .intra_diff_places span { font-size:0.875em;}
    #wrapper .main .studentBooking #is_out_of_nb .intra_diff_places .intraVille,
    .finalVille {border-top:2px solid #022958;}
            #wrapper .main .studentBooking #is_out_of_nb a.intra_yes,
            a.intra_no,
            a.final_yes,
            a.final_no { top:0;
            }
            #wrapper .main .studentBooking .radio_final_no { margin-left:0px;}
            #wrapper .main .studentBooking .radio_final_yes { margin-left:0px;}
            #wrapper .main .studentBooking .radio_intra_no { margin-left:0px;}
            #wrapper .main .studentBooking .radio_intra_yes { margin-left:0px;}
    #wrapper .main .studentBooking #is_out_of_nb p {height: 35px;margin-bottom:0; margin-top:7px;}
     #wrapper .main .studentBooking #is_out_of_nb select{margin-left:0; height:35px;
        padding-left:23.83%;background-size:7%; background-position:81.5%;margin-top:0;}
        #wrapper .main .studentBooking .chooseOption_Sup {
            height:auto;
        }
         #wrapper .main .studentBooking #is_out_of_nb { text-align:center;
        position: relative;height:42px;margin-top:140px; }
    #wrapper .main .studentBooking #is_out_of_nb p {height: 35px;margin-bottom:0; margin-top:7px;}
     #wrapper .main .studentBooking #is_out_of_nb select{margin-left:0; height:35px;
        padding-left:23.83%;background-size:7%; background-position:81.5%;margin-top:0;}
      #wrapper .studentBooking .yesNoSamePlace .yesBoth,
        .noBoth {position:relative;display: block; width:50%;height: 42px;}
     #wrapper .studentBooking .yesNoSamePlace .yesBoth {left:0; }
     #wrapper .main .second_panel a.prev span:nth-child(1){width:9%;}
     #wrapper .main .second_panel a.prev span:nth-child(2){width:70%;margin-left:35px; text-align: center;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup {height: 63px;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup span.langSupFirstSpan {text-align: center;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup select {margin-left:0; height:35px;
        padding-left:23.83%;background-size:4%; background-position:61.5%;margin-top:0;}
    #wrapper .main .personal_infos a.next span:nth-child(1){width:70%;margin-left:35px; text-align: center;}
    #wrapper .main .personal_infos a.next span:nth-child(2){width:9%;}
      #wrapper .main .studentBooking .second_panel .bottomForm { margin:0;}
} /* Larger than mobile */



@media (min-width: 550px) and (max-width: 750px) {
   #wrapper .main .studentBooking {margin-left:0; width:100%}
    #wrapper .main .second_panel { border:2;    }
    #wrapper .main .studentBooking .choose_course {
       width:100%; margin:0;height: 105px:}
#wrapper .main .studentBooking .choose_course p { width: 100%;
    height: 35px;margin-top: 17.5px;margin-bottom:0;text-align: center;}

   #wrapper .main .studentBooking .choose_course select { width: 100%;
       margin-top:0;margin-left:0; padding: 0 0 0 20.85269655155978% /*70px/335.688*/;
       height:35px; background-size:3%; background-position:80.5%;} /* end of this media query for choose course div*/
          #wrapper .main .studentBooking .yesNoSamePlace {position: relative;height: 105px;}
          #wrapper .main .studentBooking .yesNoSamePlace p span { width:100%; text-align:center;}
      #wrapper .studentBooking .yesNoSamePlace .yesBoth,
        .noBoth {position:relative;display:block; width:45%;height:42px; border:;}
     #wrapper .studentBooking .yesNoSamePlace .yesBoth {left:0; margin-left:17px; }
     #wrapper .studentBooking .yesNoSamePlace .noBoth { width:45%; }
         #wrapper .main .studentBooking #is_in_nb { text-align:center;
        position: relative;height:42px;margin-top:140px; }
    #wrapper .main .studentBooking #is_in_nb p {height: 35px;margin-bottom:0; margin-top:7px;}
     #wrapper .main .studentBooking #is_in_nb select.singleLocation{margin-left:0; height:35px;
        padding:0 0 0 7%;background-size:7%; background-position:;margin-top:0;}
         #wrapper .main .studentBooking #is_out_of_nb { text-align:center;
        position: relative;height:42px;margin-top:140px; }
    #wrapper .main .studentBooking #is_out_of_nb p {height: 35px;margin-bottom:0; margin-top:7px;}
     #wrapper .main .studentBooking #is_out_of_nb select{margin-left:0; height:35px;
        padding-left:7px;background-size:7%; background-position:81.5%;margin-top:0;}
     #wrapper .main .second_panel a.prev span:nth-child(1){width:9%;}
     #wrapper .main .second_panel a.prev span:nth-child(2){width:70%;margin-left:35px; text-align: center;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup {height: 63px;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup span.langSupFirstSpan {text-align: center;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup select {margin-left:0; height:35px;
        padding-left:1.24%;background-size:14%; background-position:61.5%;margin-top:0;}
    #wrapper .main .personal_infos a.next span:nth-child(1){width:70%;margin-left:35px; text-align: center;}
    #wrapper .main .personal_infos a.next span:nth-child(2){width:9%;}
    #wrapper .main .studentBooking #is_out_of_nb p.finalCityP {
        position:absolute;
        left: 0px;
        top: 35px/*28px*/;float:;}
} /* end of media query*/



/* Larger than tablet */
@media (min-width: 750px) and (max-width: 1000px) {
        #wrapper .main .studentBooking {margin-left:0; width:100%}
    #wrapper .main .second_panel { border:2px dotted blue;    }
    #wrapper .main .studentBooking .choose_course {
       width:100%; margin:0;height: 105px:}
#wrapper .main .studentBooking .choose_course p { width: 100%;
    height: 35px;margin-top: 17.5px;margin-bottom:0;text-align: center;}

   #wrapper .main .studentBooking .choose_course select { width: 50%;
       margin-top:0;margin-left:17.8%; padding: 0 0 0 15% /*70px/335.688*/;
       height:35px; background-size:5%; background-position:95%;} /* end of this media query for choose course div*/
          #wrapper .main .studentBooking .yesNoSamePlace {position: relative;height: 105px;}
          #wrapper .main .studentBooking .yesNoSamePlace p span { width:100%; text-align:center;}
      #wrapper .studentBooking .yesNoSamePlace .yesBoth,
        .noBoth {position:relative;display:block; width:45%;height:42px; border:;}
     #wrapper .studentBooking .yesNoSamePlace .yesBoth {left:0; margin-left:17px; }
     #wrapper .studentBooking .yesNoSamePlace .noBoth { width:45%; }
         #wrapper .main .studentBooking #is_in_nb { text-align:center;
        position: relative;height:42px;margin-top:140px; }
    #wrapper .main .studentBooking #is_in_nb p {height: 35px;margin-bottom:0; margin-top:7px;}
     #wrapper .main .studentBooking #is_in_nb select.singleLocation{margin-left:0; height:35px;
        padding:0 0 0 7%;background-size:7%; background-position:;margin-top:0;}
         #wrapper .main .studentBooking #is_out_of_nb { text-align:center;
        position: relative;height:42px;margin-top:140px; }
    #wrapper .main .studentBooking #is_out_of_nb p {height: 35px;margin-bottom:0; margin-top:7px;}
     #wrapper .main .studentBooking #is_out_of_nb select{margin-left:0; height:35px;
        padding-left:7px;background-size:7%; background-position:81.5%;margin-top:0;}
     #wrapper .main .second_panel a.prev span:nth-child(1){width:9%;}
     #wrapper .main .second_panel a.prev span:nth-child(2){width:70%;margin-left:35px; text-align: center;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup {height: 63px;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup span.langSupFirstSpan {text-align: center;}
    #wrapper .main .studentBooking #suggestNewSup p.langSup select {margin-left:0; height:35px;
        padding-left:1.24%;background-size:14%; background-position:61.5%;margin-top:0;}
    #wrapper .main .personal_infos a.next span:nth-child(1){width:70%;margin-left:35px; text-align: center;}
    #wrapper .main .personal_infos a.next span:nth-child(2){width:9%;}
    #wrapper .main .studentBooking #is_out_of_nb p.finalCityP {
        position:absolute;
        left: 0px;
        top: 35px/*28px*/;float:;}
} /* end of media query */

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}



/* ==============================   FONTS  ======================= */

@font-face {
    font-family: 'fira_sansbook';
    src: url('firasans-book-webfont.eot');
    src: url('firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-book-webfont.woff2') format('woff2'),
         url('firasans-book-webfont.woff') format('woff'),
         url('firasans-book-webfont.ttf') format('truetype'),
         url('firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
