﻿/* CSS for the welcome page */
html {
  box-sizing: border-box;
  width: 100%;
}

a {
    text-decoration: none;
}

body {margin:0; background-color: #ca9c46;}

#wrapper { position:;
           background: url('../../images/bg_blurred.png'), url('../../images/bg_blurred.png'),  url('../../images/bg_welcome.png');
           background-repeat: no-repeat, no-repeat, repeat-x;
           background-position: top , 48% 80%, 0% 0%;
           width: 100%;
           min-height:728px;
           margin: 0;
           border:;
 }

/* ============================= Welcome page specifics ============================  */

#wrapper .container div.brand_slogan { position: relative;
                            width: auto;
                            height: auto;
                            color:#ffffff;
                            margin-top:175px;
                            border:;
}

#wrapper .container div.brand_slogan p.brand {
                            position: relative;
                            height: auto;
                            font-family:'fira_sansbook_italic';
                            font-size: 48px;
                            float:none;
                            border:;
}

#wrapper .container div.brand_slogan p.slogan {
                            position: relative;
                            height: auto;
                            font-family:'fira_sanshair_italic' ;
                            font-size:24.5px;
                            margin-top:-7px;
                            margin-left:84px;
                            border:;
}

 /* form fields */
#wrapper .container div.authentication {
                            position: relative;
                            height: auto;
                            border:;
}

    #wrapper .container div.authentication .username,
    .password {
        border:1px solid #D1D1D1;
    }

#wrapper .container div.authentication .username {
                            font-family: 'fira_sansbook', sans-serif;
                        

                            -webkit-border-top-right-radius: 7px;
                            -webkit-border-top-left-radius: 7px;
                            -moz-border-top-right-radius: 7px;
                            -moz-border-top-left-radius: 7px;
                            border-top-left-radius: 7px;
                            border-top-right-radius: 7px;
                            
}
#wrapper .container div.authentication .password {
                            font-family: 'fira_sansbook', sans-serif;
                            position: relative;
                            margin-top:-14px;


                            -webkit-border-bottom-right-radius: 7px;
                            -webkit-border-bottom-left-radius: 7px;
                            -moz-border-bottom-right-radius: 7px;
                            -moz-border-bottom-left-radius: 7px;
                            border-bottom-left-radius: 7px;
                            border-bottom-right-radius: 7px;
}

/*Next line we are styling the way the error messages appear */
    #wrapper .container div.authentication .checkUserName {
        display:block;
        background-color:#738210;
        color:#fff;
        font-size:12px;
        text-align:center;
        border-radius:4px;
        -webkit-border-radius:4px;
    }

        #wrapper .container div.authentication .checkUserPass {
        display:block;
        background-color:#738210;
        color:#fff;
        font-size:12px;
        text-align:center;
        border-radius:4px;
        -webkit-border-radius:4px;
    }

         #wrapper .container div.authentication .connexionFailed {
        display:block;
        background-color:#022958;
        color:#fff;
        font-size:12px;
        text-align:center;
        border-radius:4px;
        -webkit-border-radius:4px;
    }

  /*Next line we are styling the remember me checkBox icon and text*/
#wrapper .container div.authentication .rememberCheck {
                           position:relative;
                           border:;
    }

   #wrapper .container div.authentication .rememberCheck input {
       width:10%;
       display:block;
       float:left;
 }
   #wrapper .container div.authentication .rememberCheck label {
                           display:block;
                           width:90%;
                           font-size:14px;
                           font-weight:lighter;
}

#wrapper .container div.authentication .submit {
                            font-family: 'fira_sansbook', sans-serif;
                            background-color:#f8be46/*#738210*/;
                            color:#fff;
                            position: relative;
                            height: 25px;
                            margin-left:98px;
                            border:1px solid #da9e3c /*#58640c*/;
                            -webkit-border-radius:4px;
                            -moz-border-radius:4px;

}

#wrapper .container div.errors {
                            position: relative;
                            text-align: center;
                            margin-top:;
                            margin-left: 322px;
                            border: ;
}

#wrapper .container div.errors .loginErrorMessage {
                            position: relative;
                            margin: auto;
                            visibility: hidden;
                            border:;
}

#wrapper .container div.errors a {
                            display: block;
                            position: relative;
                            margin-left:14px;
                            text-decoration:underline;
                            font-size:12px;
                            font-weight:lighter;
                            outline: 0;
                            color: #ffffff;
                            margin:;
                            border:;
}

#wrapper .container div.footer {
                            position:absolute;
                            height: 35px;
                            top:630px;
                            border:;
}

#wrapper .container div.footer a {
                            display: block;
                            position: relative;
                            text-decoration: none;
                            outline: none;
                            border: ;
}

#wrapper .container div.footer a img {
                            width: 28px;
                            height: auto;
}

#wrapper .container div.footer p {
                            position: relative;
                            margin-left: 490px;
                            text-align: right;
                            font-family: 'fira_sanshair', sans-serif;
                            font-size:14px ;
                            color: #ffffff;
                            height:;
                            border:;
}

/* ============================= FONTS ============================  */
@font-face {
    font-family: 'fira_sansbold';
    src: url('firasans-bold-webfont.eot');
    src: url('firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-bold-webfont.woff2') format('woff2'),
         url('firasans-bold-webfont.woff') format('woff'),
         url('firasans-bold-webfont.ttf') format('truetype'),
         url('firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fira_sansbook';
    src: url('firasans-book-webfont.eot');
    src: url('firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-book-webfont.woff2') format('woff2'),
         url('firasans-book-webfont.woff') format('woff'),
         url('firasans-book-webfont.ttf') format('truetype'),
         url('firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fira_sansbook_italic';
    src: url('firasans-bookitalic-webfont.eot');
    src: url('firasans-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-bookitalic-webfont.woff2') format('woff2'),
         url('firasans-bookitalic-webfont.woff') format('woff'),
         url('firasans-bookitalic-webfont.ttf') format('truetype'),
         url('firasans-bookitalic-webfont.svg#fira_sansbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanshair';
    src: url('firasans-hair-webfont.eot');
    src: url('firasans-hair-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-hair-webfont.woff2') format('woff2'),
         url('firasans-hair-webfont.woff') format('woff'),
         url('firasans-hair-webfont.ttf') format('truetype'),
         url('firasans-hair-webfont.svg#fira_sanshair') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanshair_italic';
    src: url('firasans-hairitalic-webfont.eot');
    src: url('firasans-hairitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-hairitalic-webfont.woff2') format('woff2'),
         url('firasans-hairitalic-webfont.woff') format('woff'),
         url('firasans-hairitalic-webfont.ttf') format('truetype'),
         url('firasans-hairitalic-webfont.svg#fira_sanshair_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
