﻿/* CSS for the welcome page */
html {
  box-sizing: border-box;
  width: 100%;
}

a {
    text-decoration: none;
}

body {margin:0; background-color: #ca9c46;}

#wrapper { position:;
           background: url('../../images/bg_blurred.png'), url('../../images/bg_blurred.png'),  url('../../images/bg_welcome.png');
           background-repeat: no-repeat, no-repeat, repeat-x;
           background-position: top , 48% 80%, 0% 0%;
           width: 100%;
           min-height:700px;
           margin: 0;
           border:;
 }


/* ============================= Welcome page specifics ============================  */

#wrapper .container div.brand_slogan { position: relative;
                            width: auto;
                            height: auto;
                            color:#ffffff;
                            margin-top:75px;
                            border:;
}

#wrapper .container div.brand_slogan p.brand {
                            position: relative;
                            height: auto;
                            font-family:'fira_sansbook_italic';
                            font-size: 48px;
                            float:none;
                            border:;
}

#wrapper .container div.brand_slogan p.slogan {
                            position: relative;
                            height: auto;
                            font-family:'fira_sanshair_italic' ;
                            font-size:24.5px;
                            margin-top:-7px;
                            margin-left:84px;
                            border:;
}

    #wrapper .container div.thanks_note {
        margin-left:;
        text-align:center;
    }

#wrapper .container div.thanks_note p {
                            position: relative;
                            height: auto;
                            font-family:'fira_sanshair';
                            font-size: 48px;
                            color:#fff;
}




#wrapper .container div.footer {
                            position:absolute;
                            height: 35px;
                            top:630px;
                            border:;
}

#wrapper .container div.footer a {
                            display: block;
                            position: relative;
                            text-decoration: none;
                            outline: none;
                            border: ;
}

#wrapper .container div.footer a img {
                            width: 28px;
                            height: auto;
}

#wrapper .container div.footer p {
                            position: relative;
                            margin-left: 522px;
                            text-align: right;
                            font-family: 'fira_sanshair', sans-serif;
                            font-size:14px ;
                            color: #ffffff;
                            height:;
                            border:;
}

/* ============================= FONTS ============================  */
@font-face {
    font-family: 'fira_sansbold';
    src: url('firasans-bold-webfont.eot');
    src: url('firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-bold-webfont.woff2') format('woff2'),
         url('firasans-bold-webfont.woff') format('woff'),
         url('firasans-bold-webfont.ttf') format('truetype'),
         url('firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fira_sansbook';
    src: url('firasans-book-webfont.eot');
    src: url('firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-book-webfont.woff2') format('woff2'),
         url('firasans-book-webfont.woff') format('woff'),
         url('firasans-book-webfont.ttf') format('truetype'),
         url('firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fira_sansbook_italic';
    src: url('firasans-bookitalic-webfont.eot');
    src: url('firasans-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-bookitalic-webfont.woff2') format('woff2'),
         url('firasans-bookitalic-webfont.woff') format('woff'),
         url('firasans-bookitalic-webfont.ttf') format('truetype'),
         url('firasans-bookitalic-webfont.svg#fira_sansbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanshair';
    src: url('firasans-hair-webfont.eot');
    src: url('firasans-hair-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-hair-webfont.woff2') format('woff2'),
         url('firasans-hair-webfont.woff') format('woff'),
         url('firasans-hair-webfont.ttf') format('truetype'),
         url('firasans-hair-webfont.svg#fira_sanshair') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanshair_italic';
    src: url('firasans-hairitalic-webfont.eot');
    src: url('firasans-hairitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-hairitalic-webfont.woff2') format('woff2'),
         url('firasans-hairitalic-webfont.woff') format('woff'),
         url('firasans-hairitalic-webfont.ttf') format('truetype'),
         url('firasans-hairitalic-webfont.svg#fira_sanshair_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

